beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
DateTime==4.3
html5lib==1.0.1
idna==2.6
numpy==1.16.1
pandas==0.23.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.20.0
six==1.11.0
soupsieve==1.9.3
urllib3==1.24.2
webencodings==0.5.1
zope.interface==4.7.1
