beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
html5lib==1.1
idna==2.10
numpy==1.19.5
pandas==1.2.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
soupsieve==2.1
urllib3==1.26.3
webencodings==0.5.1
websockets==9.1
